 a:link {color:#33FF33; text-decoration: underline; }
 a:visited {color:33ff33; text-decoration: underline; }
 
 
 body
 {
	background-color:black; 
	color:white;
 }
*{margin:0;padding:0;}

.box
{
	margin:0;
	padding:0;
}

.showMoreComments
{
	text-align: center;
	font-size:75%;
	font-weight:bold;
}

#title
{
	font-family:Impact;
	font-size:500%;
	color:#FFFF00;
	text-decoration:none;
}

.upload_box
{
    border: 1px white solid;
    width: 300px;
    text-align: right;
    position: absolute;
    right:0px;
}

 .upload_box_success
 {
    border: 1px white solid;
    color:#00FF00;
    position: absolute;
    right:0px;
    padding: 2px;
 }
 
#sub_title
{
	font-family:Lucida Console;
	font-size:small;
	color:#00FF00;
	margin-left:5px;
	margin-top:-30px;
	text-decoration:none;
}
ol.timeline{list-style:none;font-size:1.2em;}
ol.timeline li{display:none;position:relative;}
ol.timeline li:first-child{}

#flash
{
	margin-left:100px;
}

.song_min
{
	
}

.commentTD
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align:text-top;
}

#name
{
	color:#000000;
	font-size:14px;
	border:black solid 1px;
	height:24px;
	margin-top:2px;
	margin-bottom:10px;
	width:100px;
	text-align:center;
}

#submit
{
	color:#000000;
	margin-top:2px;
	font-size:14px;
	border:#black solid 1px;
	height:24px;
	margin-bottom:10px;
	width:300px;
}

textarea
{
	color:#000000;
	font-size:14px;
	border:#666666 solid 2px;
	height:50px;
	width:500px;
}

.com_name
{
	font-size: 12px; 
	color: rgb(102, 51, 153); 
	font-weight: bold;
}

.com_date
{
	font-size: 10px;
	color:white;
	font-style:italic;
}

.com_text
{
	font-size: 12px; 
	color: white; 
}