#rankings-table{
    width:65%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 100px;
    border-color: #444444;
}

.rankings-title{
    font-weight: bold;
}

#rankings-container{
    text-align: center;
}
.clickable
{
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.highlightRow
{
   cursor: pointer;
   border: 1px solid white;
}


tr.song{
    background-color: #041228;    
}
.song-buttons
{
    margin-top: 5px;
    margin-bottom: 10px;
}
.song-button
{
    text-align:center;
    border:  1px white solid;
    color: #33FF33;
    font-weight: bold;
    font-size: 125%;
    padding: 2px;
}

ol.timeline{list-style:none;font-size:1.2em;}
ol.timeline li{display:none;position:relative;}
ol.timeline li:first-child{}
.showMoreComments
{
	text-align: center;
	font-size:75%;
	font-weight:bold;
}

/*======================<td>====================*/
.song-index {
    text-align: center;
}
.song-info-min {
    padding-left: 20px;
}
.song-info-max{
    padding-left:20px;
}
.song-comments{
    width:300px;
}
.song-genre{
    text-align: right;
    padding-right: 20px;
}
.song-score{
    width:70px;
}


.song-button:hover
{
    background-color: #041228;
}

.com_name
{
	font-size: 12px;
	color: rgb(102, 51, 153);
	font-weight: bold;
}


.com_date
{
	font-size: 10px;
	color:white;
	font-style:italic;
}

.com_text
{
	font-size: 12px;
	color: white;
}

