

.filters{
    position: fixed;
    top: 0px;
    z-index:9999;
    width:100%;
    background-color: #041228;
    height: 25px;
    border-bottom: 1px solid white;
    text-align:center;
}

.highlight-filter{
    background-color: #0C3476;
}

.filter
{
    padding-left: 2px;
    padding-right: 2px;
}
.filter:hover{
    cursor: pointer;
}

#upload_box
{
    background-color: #041228;
    border: 1px solid white;
    text-align: right;
    position: fixed;
    top:25px;
    right:0px;
    padding: 2px;
}

#upload-box-result{
    text-align: center;
}
.sub-text{
    font-size:70%;
    font-style: italic;
}

#song-table{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    text-align:center;
}
.main{
    margin-top: 25px;
    maring-bottom:100px;
}
.main-right{
    float:right;
    width:68%;
}

.pause-button{
    cursor: pointer;
}

.bottom-container{
    background-color: #041228;
    height: 93px;
    position: fixed;
    bottom: 0px;
    z-index:9999;
    width: 100%;
    border-top: 1px solid white;
}




.queue-control{
    float:right;
    font-size: 75%;
    cursor: pointer;
    padding-top:0px;
}
.queue-control-max{
    margin-top:-10px;
}

.song-info-item
{
    padding-left:5px;
}
#song-playlist{
    width:30%;
}
#song-swf{
    width:30%;
}
#song-voting{
    width:5%;
    padding-right:25px;
    margin-left:auto;
    margin-right:auto;
    vertical-align: middle;
}
#song-info{
    text-align:left;
    width: 35%;
    padding-left: 25px;
}
.track-button
{
    color:#33FF33;
    font-size:150%;
}
.track-button:hover{
    color: #33FFFF;
    cursor: pointer;
}

.comments-display{
    vertical-align: top;
}
.comments-input{
    vertical-align: bottom;
    margin-left:auto;
    margin-right:auto;
 }


textarea.comments-text
{
	color:#000000;
	font-size:14px;
	border:#666666 solid 2px;
	width:100%;
    height:23px;
    resize: none;
    float:left;
}

 .comments-submit{
     height:20px;
     width:50px;
     font-size:75%;
 }




#max-queue{
    background-color: #041228;
    position: fixed;
    z-index:10000;
    bottom:0px;
    left:0px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    width:30%;
    padding-top:10px;
}
.queue-title{
    text-align: center;
    font-weight:bold;
    font-size:100%;
    padding-top:5px;
}
#user-queue{
    border-bottom:  1px solid white;
}
ol.max-queue{
    padding-left: 5px;
    padding-bottom: 5px;
    list-style-type: decimal;
    list-style-position:inside;
    font-size:small;
}

ol#min-queue{
    text-align: left;
    list-style-position:inside;
    margin-left:5px;
    font-size:small;
}

.vote-button{
     background-color:#33FF33;
     color: black;
     font-weight: bold;
     width: 25px;
     height: 20px;
     border: 1px solid black;
     padding: 0px;
     margin-left:auto;
     margin-right:auto;
     margin-top:3px;
     margin-bottom:3px;
}
.vote-button:hover{
    cursor: pointer;
    border: 1px solid red;
}